*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto",Sans-Serif;
}

body{
    background-color: #000;
    color: #fff;
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    width:100%;
}

.menu-bar{
    display: flex;
    flex-direction: column;
    width:22%;
   
}

/* top-list */

.top-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #1a1918;
    padding: 20px 0px 0px 20px;
    border-radius: 6px;
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 20px;
    cursor: pointer;
    outline: none;
}

.icon{
    color: #fff;
    height: 25px;
    width: 25px;
}

.item-text{
    margin-left: 8px;
    font-weight: bold;
    font-size: 1.1rem;
}

sup{
    font-size: 2px;
    font-weight: normal;
    border: 0.1px solid #fff;
    padding: 1px;
    border-radius: 50%;
}

.active-item{
    margin-left: 8px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 25px;
}

.active-item:hover{
    text-decoration: underline;
   
}

.list-item-icon{
    color: #2b2b2a;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item{
    margin-left: 25px;
    font-weight: bold;
    font-size: 1rem;
    color: #a6a5a4;
    transition: 0.2s ease-in-out;

}

.item-icon{
    color: #a6a5a4;
    height: 25px;
    width: 25px;
    transition: 0.2s ease-in-out;
}

.item-icon:hover{
    color: #fff;
}

.item:hover{
    text-decoration: underline;
    color: #fff;
}

/* top-list */

/* library-container */

.library-container{
    display: flex;
    flex-direction: column;
    background-color: #1a1918;
    margin-top: 10px;
    padding-bottom: 30px;
    border-radius: 6px;
}

.library-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 30px 20px;
}

.library{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #a6a5a4;
    transition: 0.2s ease-in-out;
    cursor:pointer;
    outline: none;
}

.library:hover{
    color: #fff;
}

.library-icon{
    height: 25px;
    width: 25px;
}

.library-text{
    margin-left: 8px;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 25px;
}

.add-library{
    height: 25px;
    width:25px;
    cursor: pointer;
    outline: none;
    color: #a6a5a4;
    transition: 0.2s ease-in-out;
}

.add-library:hover{
    color: #fff;
    background-color: #292826;
    border-radius: 50%;
    
}

.library-details-section{
    display: flex;
    flex-direction: column;
    height: 185px;
    overflow-y: auto;

}

.library-details-section::-webkit-scrollbar{
    background: transparent;
}

.library-details-section:hover::-webkit-scrollbar-thumb{
    background: #545354;
}

.library-details{
    background-color: #262625;
    margin: 10px;
    padding: 15px;
    border-radius: 6px;
}

.library-heading{
    font-size: 1rem;
    margin-bottom: 10px;
}

.library-suggestion{
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.library-btn{
    font-size: 0.8rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-radius: 25px;
    padding: 8px 15px;
    cursor: pointer;
    outline:none;
    transition: 0.2s ease-in-out;
}

.library-btn:hover{
    padding: 9px 18px;
}

.links-container{
    padding-left: 0px;
    padding:0px 0px 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 20px;
}

.link-item{
    font-size: 0.8rem;
    color: #a8a8a7;
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;
    outline: none;
}

.cookies{
    font-size: 0.8rem;
    padding-left: 20px;
    color: #a8a8a7;
    padding-top: 0px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.cookies:hover{
    text-decoration: underline;
}

.language-btn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #545354;
    border-radius: 20px;
    padding: 6px 0px;
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in-out;
}

.language-btn:hover{
    border: 1px solid #fff;
}

.language-icon{
    color: #fff;
    height: 16px;
    width: 16px;
}

.language-text{
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    margin-left: 8px;
}

.language-btn:hover .language-text{
    font-size: 0.8rem;
    
}



/* library-container */


/* footer-section */

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:99%;
    margin-top: 10px;
    padding: 12px 10px;
    background-image: linear-gradient(to right,#f03ed5,#0cabeb);
}

.footer-left-section{
    margin-left: 10px;
}

.footer-heading{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 6px;
}

.footer-btn{
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.footer-btn:hover{
    padding: 12px 22px;
    background-color: #dedcde;
}

/* footer-section */

/* spotify-store-container */

.spotify-store-container{
    display: flex;
    flex-direction: column;
    width:77.5%;
    background-color: #1a1918;
    margin-left: auto;
    border-radius: 6px;
}

/* navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 25px;
}

.navigation-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-arrow{
    background-color: #000;
    color: #a6a5a4;
    padding: 6px 8px;
    border-radius: 50%;
    border: none;
    align-items: center;
}

.right-arrow{
    background-color: #000;
    align-items: center;
    color: #fff;
    padding: 6px 8px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 15px;
}

.arrow{
    height: 18px;
    width: 18px;
}

.login-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sign-up-btn{
    font-size: 1rem;
    font-weight: bold;
    color: #a6a5a4;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-in-out;
}

.sign-up-btn:hover{
    font-size: 1.1rem;
    color: #fff;
}

.login-btn{
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.login-btn:hover{
    padding: 12px 27px;
    background-color: #dedcde;
}

/* navbar */

/* store-container */

.store-container{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow-y: auto;
}

.store-container::-webkit-scrollbar{
    background: transparent;
}

.store-container:hover::-webkit-scrollbar{
    background: #545354;
}

.album-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
}

.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-heading{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.main-heading:hover{
    text-decoration: underline;
}

.show{
    font-weight: 1rem;
    font-weight: bold;
    color: #a6a5a4;
    cursor: pointer;
    outline: none;
}

.show:hover{
    text-decoration: underline;
}

.list-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

/* .list-container::-webkit-scrollbar{
    background: transparent;
} */


.artist-container{
    display: flex;
    flex-direction: column;
    height: 255px;
    width: 150px;
    padding: 10px 10px 0px 10px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
}

.artist-container:hover{
    background-color: #262625;
    border-radius: 4px;
}

.artist-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.play-btn{
    position: relative;
    background-color: transparent;
}

.play-btn .play-icon{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 12px 12px;
    right: 8px;
    top: -50px;
    opacity: 0;
    box-shadow: 20px 20px 40px 2px #323f4b;
    transition: 0.2s ease-in-out;
}

.artist-container:hover .play-btn .play-icon{
    opacity: 1;
    transform: translateY(-20px);
}

.play-icon{
    height: 25px;
    width: 25px;
    color: #000;
}

.artist-name{
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}

.job{
    color: #a8a8a7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 18px;
}

.job:hover{
    text-decoration: underline;
}

.para{
    color: #a8a8a7;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 18px;
}

.song-img{
    height: 150px;
    width:150px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.style-container{
    background-image: linear-gradient(to bottom,#262626,#1a1918);
    margin: 0px -20px;
    padding: 30px 20px;
}

.spotify-details-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 20px 25px 20px;
}

.company-details{
    display: flex;
    flex-direction: column;
}

.section-heading{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-item{
    color: #a6a5a4;
    font-size: 1rem;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.section-item:hover{
    color: #fff;
    text-decoration: underline;
}

.website-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.link-btn{
    background-color: transparent;
    border: none;
    margin-left: 20px;
    background-color: #262626;
    padding: 11px 12px;
    border-radius: 50%;
}


.link{
    height: 15px;
    width:15px;
    color: #fff;
}

.link-btn:hover{
    background-color: #545354;
}

.horizontal-line{
    margin: 0px 20px 0px 20px;
}

.copy-right{
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 0.9rem;
    color: #a6a5a4;
    padding: 30px 0px 60px 20px;
}

.copy-right span{
    margin-right: 12px;
    height: 8px;
    width: 8px;
    color: #a6a5a4;
}



/* store-container */